/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.navigation {
    &__action-button {
        display: block;
        margin: 10px;
        padding: 5px 15px 5px 6px;
        width: 180px;

        position: fixed;
        left: -116px;
        top: 46px;

        transform: translateZ(0);

        background: $trueWhite;
        color: $orange;

        text-decoration: none;

        font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;

        transition: $defaultTransition;
        will-change: color, background-color;

        &:hover {
            background-color: $orange;
            color: $trueWhite;
        }
    }
}
