/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@import '../../../../variables/index.scss';

.navigation {
    &__action-button {
        display: block;
        margin: 10px;
        padding: 5px 15px 5px 6px;
        width: 177px;

        position: fixed;
        left: -155px;
        top: 46px;

        transform: translateZ(0);

        background: $trueWhite;
        color: $orange;

        text-decoration: none;

        transition: $defaultTransition;

        box-shadow: $cardBoxShadow;
        border: 1px solid $actionButtonBorderColor;

        &:hover {
            background-color: $orange;
            color: $trueWhite;
            border: 1px solid transparent;
        }
    }
}
