/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

body {
    line-height: 1.5 * $defaultFontSize;
    font-size: $defaultFontSize;
    font-family: $baseFallbackFont;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body.wf-loaded {
    font-family: $baseFont;

    strong, b, h1, h2, h3, h4, h5, h6 {
        font-family: $baseFontBold;
        font-weight: inherit;
        font-style: inherit;
    }

    em, i, blockquote {
        font-family: $baseFontItalic;
        font-weight: inherit;
        font-style: italic;
    }

    pre, code { font-family: $monotypeFont; }

    .modal-edit {
        &__description { font-family: $monotypeFont; }

        &__heading {
            &--label {
                font-family: $baseFontItalic;
                font-weight: inherit;
                font-style: italic;
            }
        }

        &__label {
            font-family: $baseFontBold;
            font-weight: inherit;
            font-style: inherit;
        }
    }

    .column-heading {
        font-family: $baseFontItalic;
        font-weight: inherit;
        font-style: italic;
    }

    .action-button, .context-selection, .navigation__action-button {
        font-family: $baseFontItalic;
        font-weight: inherit;
        font-style: italic;
    }

    .column-heading {
        font-family: $baseFontLightItalic;
        font-size: $largerFontSize;
        font-style: italic;
        font-weight: inherit;
        text-align: center;
    }
}

a { text-decoration: none; }

img { vertical-align: middle; }

p { margin-bottom: 1.2 * $defaultFontSize; }

strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: inherit;
}

em, i, blockquote, blockquote {
    font-style: italic;
    font-weight: inherit;
}

pre, code {
    font-family: $monotypeFallbackFont;
    font-size: $smallerFontSize;
}

.card-controls { text-align: right; }
.card-link { text-decoration: none; }

.column-heading {
    font-weight: normal;
    font-style: italic;
    letter-spacing: 2px;
}

.modal-edit {
    &__label {
        font-weight: bold;
        font-style: normal;
    }

    &__description {
        font-family: $monotypeFallbackFont;
        font-size: $defaultFontSize;
        line-height: $defaultFontSize * 1.5;
    }

    &__selection {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $defaultFontSize;
    }

    &__heading {
        &--label {
            font-weight: normal;
            font-style: italic;
        }
    }
}

.card {
    &__text {
        h1, h2, h3, h4, h5, h6 {
            margin: 0 0 16px 0;
            padding: 0;
            font-size: $defaultFontSize;
            text-align: left;
        }
    }
}

.action-button {
    font-size: $buttonFontSize;
    font-weight: normal;
    font-style: italic;
    line-height: $buttonHeight;
    text-decoration: none;
    text-align: center;
}

.context-selection {
    font-size: $buttonFontSize;
    font-weight: normal;
    font-style: italic;
}

.column-heading {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
