/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

body {
    line-height: 1.5 * $defaultFontSize;
    font-size: $defaultFontSize;
    font-family: $baseFont;

    // These two declerations below are the best way to ensure that fonts are 
    // rendered identically between Firefox, Safari, and Chrome on OSX Retina 
    // and OSX Thunderbolt.
    //
    // I am not sure about windows, however it should not be that bad either.
    //
    // I tried `antialiased` but it was marginally less readable for the body text.
    // So using subpixel antialiasing (and greyscale for Mozilla) which is better
    // especially if you have dark text on light background a lot.
    //
    // I will apply grayscale/antialiased text to select few heading and buttons where
    // thinner text is aesthetically more pleasing; but not to the body text.
    -webkit-font-smoothing: subpixel-antialiased;
    // `auto` is to hint Mozilla to pick whatever fits best for the operating system.
    // Apparently, Mozilla does the right thing (TM) and defaults to subpixel antialiasing.
    -moz-osx-font-smoothing: auto;
        
    text-rendering: optimizeLegibility;

    a {text-decoration: none;}

    img {vertical-align: middle;}

    p { 
        margin-bottom: 1.2 * $defaultFontSize;
        margin-top: 1.2 * $defaultFontSize
    }
}

.loading {
    font-size: $largeFontSize + 2px;    
    font-style: normal;
    text-align: center;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: inherit;
}

em, i {
    font-style: italic;
    font-weight: inherit;
}

blockquote {
    font-style: normal;
}

pre, code {
    font-family: $monotypeFont;
    font-size: 16px;
}
    
.modal-edit { 
    &__action-button {
        font-size: $buttonFontSize;
        font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    }

    &__label {
        font-weight: normal;
        font-style: normal;
        font-size: $largeFontSize;
    }

    &__heading-label {
        font-weight: normal;
        font-style: normal;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &__description {
        font-family: $monotypeFont;
        line-height: 1.5 * ( $defaultFontSize - 2px);
        font-size: 14px;
    }

    &__selection {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $largeFontSize;
        font-style: normal;
        font-weight: normal;
    }

    &__login-teaser {
        font-size: 18px;
        font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        line-height: 27px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 35px;
    }

    &__login-input-wrap {
        margin: 0;
        padding: 0;
        width: 404px;
        float: left;
    }

    &__login-action-wrap {
        margin: 0;
        padding: 0;
        padding-top: 10px;
        width: 210px;
        float: right;
    }

    &__login-input {
        font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        width: 350px;
        margin-left: 30px;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        border: 1px #BABFC3 solid;
    }
}

.action-button {
    font-size: $buttonFontSize;
    font-weight: normal;
    font-style: normal;
    line-height: $buttonHeight;
    text-decoration: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid darken($trueWhite, 10%);    
}

.context-selection {
    font-size: $buttonFontSize;
    font-weight: normal;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid darken($trueWhite, 10%);    
}

.navigation__action-button {
    font-weight: normal;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid darken($trueWhite, 10%);
}

.column__heading, .column__heading--dimmed, .column__heading--selected {
    font-size: $largeFontSize + 4px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.context-listing__link--default, .context-listing__link--selected {
    font-weight: normal;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid darken($trueWhite, 10%);
}

.card {
    &__text {
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1.2 * $defaultFontSize;
            margin-top: 1.2 * $defaultFontSize;
            font-size: $defaultFontSize;
            text-align: left;
            padding: 0;
        }
    }
}
.card-controls {text-align: right;}
.card-link {text-decoration: none;}
