/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

body {
    line-height: 1.5 * $defaultFontSize;
    font-size: $defaultFontSize;
    font-family: $baseFont;
    
    text-rendering: optimizeLegibility;

    a {text-decoration: none;}

    img {vertical-align: middle;}

    p { 
        margin-bottom: 1.2 * $defaultFontSize;
        margin-top: 1.2 * $defaultFontSize
    }
}

.loading {
    font-size: $largeFontSize + 2px;    
    font-style: normal;
    text-align: center;
}

strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: inherit;
}

em, i {
    font-style: italic;
    font-weight: inherit;
}

blockquote {
    font-style: normal;
}

pre, code {
    font-family: $monotypeFont;
    font-size: 16px;
}
    
.modal-edit { 
    &__action-button {
        font-size: $buttonFontSize;
        font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    }

    &__label {
        font-weight: normal;
        font-style: normal;
        font-size: $largeFontSize;
    }

    &__heading-label {
        font-weight: normal;
        font-style: normal;
    }

    &__description {
        font-family: $monotypeFont;
        line-height: 1.5 * ( $defaultFontSize - 2px);
        font-size: 14px;
    }

    &__selection {
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $largeFontSize;
        font-style: normal;
        font-weight: normal;
    }

    &__login-teaser {
        font-size: 18px;
        font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        line-height: 27px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 35px;
    }

    &__login-input-wrap {
        margin: 0;
        padding: 0;
        width: 404px;
        float: left;
    }

    &__login-action-wrap {
        margin: 0;
        padding: 0;
        padding-top: 10px;
        width: 210px;
        float: right;
    }

    &__login-input {
        font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
        width: 350px;
        margin-left: 30px;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        border: 1px #BABFC3 solid;
    }
}

.action-button {
    font-size: $buttonFontSize;
    font-weight: normal;
    font-style: normal;
    line-height: $buttonHeight;
    text-decoration: none;
}

.context-selection {
    font-size: $buttonFontSize;
    font-weight: normal;
    font-style: normal;
}

.navigation__action-button {
    font-weight: normal;
    font-style: normal;
}

.column__heading, .column__heading--dimmed, .column__heading--selected {
    font-size: $largeFontSize + 4px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

.context-listing__link--default, .context-listing__link--selected {
    font-weight: normal;
    font-style: normal;
}

.card {
    &__text {
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1.2 * $defaultFontSize;
            margin-top: 1.2 * $defaultFontSize;
            font-size: $defaultFontSize;
            text-align: left;
            padding: 0;
        }
    }
}
.card-controls {text-align: right;}
.card-link {text-decoration: none;}
