/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.column {
    @include column_semi_opaque;

    &:hover {
        @include column_transparent;

        .heading {
            &__best-intentions { @include column_opaque; }
            &__to-do { @include column_opaque; }
            &__in-progress { @include column_opaque; }
            &__done { @include column_opaque; }
        }
    }
}

.heading {
    &__best-intentions {
        @include column_heading_common;
        background: $accent_2;
    }

    &__to-do {
        @include column_heading_common;
        background: $accent_1;
    }

    &__in-progress {
        @include column_heading_common;
        background: $accent_3;
    }

    &__done {
        @include column_heading_common;
        background: $accent_4;
    }
}
