/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.card {
    @include card_common;

    transition: $default_transition;

    opacity: 0.85;
    will-change: opacity;

    &:hover {
        transition: $default_transition;

        opacity: $opaque;
        opacity: 0.99;
        will-change:opacity;
    }

    &__text {
        transition: all 0.25s ease-in-out;
        padding: 5px;

        &:hover {
            transition: all 0.25s ease-in-out;
            color: $link_foreground;

            code {
                color: $link_foreground;
            }
        }

        h1, h2, h3, h4, h5, h6 { @include heading; }
        h2 { letter-spacing: inherit; }
    }
}

.card-controls {
    border-top: 1px #e0e0e0 solid;
    padding-top: 5px;
    text-align: right;
    margin-bottom: -15px;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: #F6F6F6;
    position: relative;
    top: 2px;
    cursor: default;

    &__left-link {
        font-weight: normal;
        float: left;
        text-decoration: none;
        color: #AAAAAA;
        margin-right: 5px;
        margin-top: -2px;

        transition: $default_transition;

        &:hover {
            transition: $default_transition;
            filter: drop-shadow(0 0 1px $link_foreground);
            color: #000000;
        }

        img {
            vertical-align: middle;
        }
    }

    &__separator {
        color: #AAAAAA;
        float: left;
    }

    &__transition {
        color: #666666;

        img {
            vertical-align: middle;
            opacity: 0.85;
            position: relative;
            top: -1px;
            transform: translateZ(0);
        }
    }

    &__stage-link {
        text-decoration: none;
        color: #AAAAAA;
        cursor: pointer;

        transition: $default_transition;

        &:hover {
            transition: $default_transition;
            filter: drop-shadow(0 0 1px $link_foreground);
            color: #000000;
        }

        &--selected {
            color: #666666;
            cursor: default;
            background: #FFFFFF;
            padding: 2px 8px 3px 8px;
            border: 1px solid;
            border-radius: 15px;
            font-weight: normal;
        }
    }
}
