/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@mixin selectedCardLink($color) {
    border: 1px $color solid;
    color: $color;
    background: $white;
    cursor: default;
}

@mixin hoveredCardLink($color) {
    border: 1px $color solid;
    color: $color;
    background: $white;
    transition: $defaultTransition;
}

@mixin center { margin: 0 auto; }

@mixin modalHeadingBackground {
    background: lighten($black, 40%);
    background: linear-gradient(to bottom, $lightGray, lighten($black, 40%));
}
