/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@mixin selectedCardLink($color) {
    border: 2px $color solid;
    color: $color;
    background: $white;
    cursor: default;
}

@mixin hoveredCardLink($color) {
    border: 1px $color solid;
    color: $color;
    background: $white;
    transition: $defaultTransition;
}

@mixin center { margin: 0 auto; }

@mixin modalHeadingBackground() {
    background: darken(#E3E5E6, 10%);
    // background: linear-gradient(to bottom, darken(#E3E5E6, 10%), darken(#D3D6D9, 10%));
    background: linear-gradient(to bottom, #E3E5E6, #D3D6D9);
}

@mixin topHeaderBackground() {
    background: #E3E5E6;
    background: linear-gradient(to bottom, #E3E5E6, #D3D6D9);
}

@mixin cantTouchThis() {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

@mixin bodyBackground() {
    background: #DFE1E3;
    background: linear-gradient(to bottom, darken(#E8E9E6, 0%), darken(#DFE1E3, 0%));
}

@mixin loadingBackground() {
    background: #EFEFEF;
    background: linear-gradient(to top, darken(#EFEFEF, 5%), #EFEFEF);
}

@mixin makeFontsThin() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
