/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@import '../mixins/index.scss';
@import '../variables/index.scss';

body {
    @include bodyBackground;
    @include cantTouchThis;
}

h2 {margin-bottom: 24px; padding: 12px;}

input:focus, textarea:focus, select:focus, a:focus {outline: none;}
select:focus {box-shadow: 0 0 2px 1px $blue;}
textarea {
    resize: none;

    &:focus {
        box-shadow: 0 0 2px 1px $blue;
        background: $trueWhite;
    }
}

a {
    color: $linkColor;
    padding: 1px 3px 1px 3px;
    text-decoration: none;
    border-bottom: $cardLinkHoverBorderWidth transparent solid;
    transition: $defaultTransition;

    strong {
      transition: $defaultTransition;
      color: $linkColor;
    }

    path, rect {
      transition: $defaultTransition;
    }

    &:hover {border-bottom: $cardLinkHoverBorderWidth $linkColor solid;}
    &:focus {box-shadow: 0 0 2px 1px $blue;}
}

img {vertical-align: middle;}

ul, ol {
    margin-bottom: 18px;
    margin-top: 18px;

    li {
        margin-left: 18px;
        margin-bottom: 8px;
    }

}
ul {li {list-style: disc;}}
ol {li {list-style: number;}}

blockquote {
    background: $quoteBackground;
    border-left: $quoteBorderWidth $quoteBorderColor solid;
    color: $quoteColor;

    margin-bottom: 15px;
    padding: 0;

    p {
        margin: 0;
        padding: 5px 10px 5px 10px;
    }

    blockquote {margin-bottom: 0;}
}

pre {
    margin-top: 18px;
    margin-bottom: 15px;
    padding: 7px;

    overflow: auto;

    color: $codeColor;
    background: $codeBackground;
    border-left: $quoteBorderWidth $codeBorderColor solid;
}

code {
    background: $codeBackground; 
    color: $codeColor;
    padding: 3px;
}

svg {
  vertical-align: middle;
  width: 24px;
}

path, rect {
    // stroke: $orange;
    fill: $orange;
}

.context-listing {
    svg {
        width: 24px;
        height: 24px;
      margin-right: 5px;
      position: relative;
      top: -2px;
    }

  path, rect {
    fill: $black;
  }
}

.modal-edit__actions {
    svg {
        width: 18px;
        height: 18px;
        vertical-align: middle;
    }

    .action-button--disabled {
      path, rect {
        fill: #999999;
      }
    }

  path, rect {
    fill: $black;
  }
}

.modal-edit__actions .action-button:hover {
  path, rect {
    fill: $trueWhite;
  }
}

.context-listing__link--default:hover {
    path, rect {
        fill: $trueWhite;
    }
}

.context-listing__link--selected {
    path, rect {
        fill: $trueWhite;
    }
}

.navigation__action-button {
    svg {
        position: relative;
        top: -2px;
    }
}

.action-button--modal {
    strong {
        color: $orange;
    }

    &:hover {
        strong {
            color: $trueWhite;
        }
    }

    svg {
        position: relative;
        top: -2px;
        margin-left: 5px;
    }
}

.navigation__action-button:hover, .context-selection:hover {
    path, rect {
        fill: $trueWhite;
    }
}

.action-link--modal {
    float: left;
    line-height: 22px;
    color: $black;
    border: none;
    padding: 10px;
    border-radius: 4px;

    strong {
        text-decoration: underline;
        font-weight: normal;
        color: $linkColor;
    }

    &:hover {
        border: none;
        color: $orange;

        strong {
            color: $orange;
        }

        path, rect {
            fill: $orange;
        }
    }
}
