/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

body {
    @include bodyBackground;
    @include cantTouchThis;
}

h2 {margin-bottom: 24px; padding: 12px;}

input:focus, textarea:focus, select:focus, a:focus {
    outline: none;
}

textarea:focus {
    box-shadow: 0 0 2px 1px $blue;
    background: $trueWhite;
}

textarea {resize: none;}

a:focus {box-shadow: 0 0 2px 1px $blue;}

select:focus {box-shadow: 0 0 2px 1px $blue;}

ul {
    margin-bottom: 16px;

    li {
        list-style: disc;
        margin-left: 16px;
    }
}

a {
    color: $black;
    padding: 1px 3px 1px 3px;
    text-decoration: none;
}

img {vertical-align: middle;}

blockquote {
    background: $quoteBackground;
    border-left: $quoteBorderWidth $quoteBorderColor solid;
    color: $quoteColor;

    margin-bottom: 15px;
    padding: 0;
    border-radius: 3px;

    p {
        margin: 0;
        padding: 5px 10px 5px 10px;
    }

    blockquote { margin-bottom: 0; }
}

pre {
    background: $codeBackground;
    color: $codeColor;
    border-left: $codeBorderWidth $codeBorderColor solid;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 7px;

    overflow: auto;
}

code {
    background: $codeBackground;
    color: $codeColor;
    padding: 3px;
}

.no-pointer { pointer-events: none; }

.faded {opacity: 0.35;}

.hidden {display: none;}

.topHeaderBackground {
    font-size: 22px;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: #E3E5E6;
    background: linear-gradient(to bottom, #E3E5E6, #D3D6D9);
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .6);
}

.bottomUndoNotification {
    // for hide until mvp:
    visibility: hidden;

    width: 210px;
    position: fixed;
    bottom: 34px;
    left: 10px;
    padding: 10px;
    background: #FFFFFF;
    text-align: center;
    
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .6);
}

.loginBackground {
    position: fixed;
    top: 42px;
    left: 0;
    width: 100vw;
    height: auto;
    opacity: 0.35;
    z-index: -2;
}
