/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.card {
    &--default {
        transition: $defaultTransition;

        background: darken($white, 2%);
        // box-shadow: $defaultBoxShadow;
        opacity: 0.85;
        will-change: opacity, background;

        &:hover {
            opacity: 1;
            will-change: opacity, background;
            transition: $defaultTransition;
            background: $trueWhite;
        }
    }
}
