/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.card {
    min-height: 64px;


    &--focused .card__text {
        transition: $defaultTransition;
        will-change: border-right;

        // min-height: 54px;

        padding: 0; // 5px 5px 5px 10px;
     //   padding-bottom: 10px;

     //   margin-bottom: 10px;
       
     // min-height: 75px;

//	margin-top: 10px;
//	margin-bottom: 10px;


        border-left: $cardSideMarkerBorderWidth transparent solid;

        a {
            color: #2455C3;
            padding: $cardLinkPadding;
            transition: $defaultTransition;
            will-change: color, border-bottom;
        }
    }

    &--blurred .card__text {
        transition: $defaultTransition;
        will-change: border-right;

        padding: 0; // 5px 5px 5px 10px;
        // padding-bottom: 10px;

        // margin-bottom: 10px;
        // min-height: 75px;

	// margin-top: 20px;
	// margin-bottom: 20px;


        border-left: $cardSideMarkerBorderWidth transparent solid;

        a {
            color: #2455C3;
            padding: $cardLinkPadding;
            transition: $defaultTransition;
            will-change: color, border-bottom;

            &:hover {
                transition: $defaultTransition;
                will-change: color, border-bottom;
                background: $cardLinkHoverBackgroundColor;
                color: $cardLinkHoverColor;
                border-bottom: $cardLinkHoverBorderWidth $cardLinkHoverBorderColor solid;
            }
        }
    }

    &--default .card__text {
        transition: $defaultTransition;
        will-change: border-right;

        padding: 0; // 5px 5px 5px 10px;
       // padding-bottom: 10px;

    //    margin-bottom: 10px;
   //     min-height: 75px;

//	margin-top: 20px;
//	margin-bottom: 20px;

        border-left: $cardSideMarkerBorderWidth transparent solid;

        a {
            color: #2455C3;
            border-bottom: $cardLinkBorderWidth transparent solid;
            padding: $cardLinkPadding;
            transition: $defaultTransition;
            will-change: color, border-bottom;

            &:hover {
                transition: $defaultTransition;
                will-change: color, border-bottom;
                border-bottom: $cardLinkHoverBorderWidth #2455C3 solid;
            }
        }
    }

    &--default .card__text:hover {
        transition: $defaultTransition;
        will-change: border-left;

        border-left: $cardSideMarkerBorderWidth transparent solid;
    }
}
