/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.modal-edit {
    margin: $margin_modal_edit;
    padding: 10px;

    z-index: 9999;
    position: fixed;

    top: 50%;
    left: 50%;
    height: 350px;
    width: 624px;

    background: $light_background_2;
    box-shadow: $box_shadow;
    border-radius: 1px;
    opacity: 0.95;

    will-change: top, left;

    &__heading {
        margin: $margin_modal_heading;
        padding: 13px 13px 15px 13px;

        letter-spacing: 0;

        font-size: 24px;
        text-align: center;

        color: $dark_7;

        cursor: move;

        background: $dark_background_1;
        background: linear-gradient(to bottom, $dark_background_2, $dark_background_1);
        border-radius: 2px 2px 0 0;
        opacity: $transparent;

        &:hover {
            color: $dark_foreground_1;
            opacity: $opaque;
        }

        label {
            cursor: move;
        }
    }

    &__label {
        margin: $margin_modal_label;

        font-weight: bold;

        &--floated {
            float: left;
            margin-right: 10px;
            margin-left: 10px;
            position: relative;
            top: -2px;
        }

        &--floated-first { margin-left: 4px; }

        &--centered { text-align: center; }

        &--top-pushed {
            text-align: center;
            margin-top: 72px;
        }
    }

    &__description {
        margin: $margin_modal_description;
        padding: 7px;

        width: 607px;
        height: 187px;

        background: $light_background_1;

        font-family: $monotype_fallback_font;
        font-size: $smaller_font_size;
        line-height: 22px;
        color: $dark_7;
    }

    &__selection {
        margin: $margin_modal_selection;
        padding: 5px 10px;
        width: 165px;

        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;

        float: left;

        font-size: $smaller_font_size;

        &--margin-adjust { margin: $margin_modal_adjust; }

        &--inline { float: none; }

        &--larger { width: 180px; }
    }

    &__body--for-context {
        .modal-edit__selection {
            float: none;
            width: 350px;
        }
    }

    &__actions {
        margin: $margin_modal_actions;

        text-align: right;
        float: right;

        &--inline { float: none; }
        &--centered { text-align: center; }
        &--push-top { margin-top: 75px; }
    }

    &__body {
        margin: $margin_modal_body;
        text-align: center;
    }

    &__action-button {
        width: 150px;
        margin-right: 10px;
    }

    &__action-button--cancel {
        background: transparent;
        color: $dark_2;
        text-decoration: none;
        box-shadow: none;
    }
}

body.wf-loaded {
    .modal-edit {
        &__description {
            font-family: $monotype_font;
        }
    }
}
