/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.modal-edit {
    &__configuration-contexts {
        flex-grow: 1;
        background: lighten($lightGray, 5%);
        margin: 10px;
        padding: 10px;
        margin-right: -7px;
        border: 1px darken($lightGray, 5%) solid;
        border-top: 4px $orange solid;
        border-radius: 4px;

        transition: $defaultTransition;

        &:hover{
            background: $trueWhite; // lighten($lightGray, 8%);
            border: 1px darken($lightGray, 0%) solid;
            border-top: 4px lighten($orange, 10%) solid;
        }
    }
}
