/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@import '../mixins/index.scss';

.container {
    @include center;

    display: flex;

    min-height: 100vh;
    width: 1350px;
}

.column {
    flex-basis: 33%;

    &__done {display: none;}
}

.column__body {
    max-height: calc(100vh - 55px);
    overflow: auto;
    margin-top: -22px;
}

.card {
    margin: 10px;
    padding: 16px;
}

// No need to complicate things just to change the overflow behavior.
// was: `@media (max-width: 1350px) {body {overflow: auto;}}`jj
body {overflow: auto;}

.pull-right {float: right;}
.pull-left {float: left;}
