/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.card {
    padding-bottom: 0;
    padding-top: 0;
    position: relative;

    background: $cardBackgroundColor;

    cursor: pointer;

    min-width: $minCardWidth;

    user-select: none;

    overflow: auto;
    word-break: break-word;

    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid darken(#E8E9E6, 10%);
}

@import './blurred/index.scss';
@import './default/index.scss';
@import './focused/index.scss';
@import './text/index.scss';
