/*  __.-._
 *  '-._"7'  Jedi Focus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.navigation {
    &__action-button {
        display: block;
        margin: 10px;
        padding: 10px 15px 10px 6px;
        width: 180px;

        position: fixed;
        left: -140px;
        top: 23px;

        transform: translateZ(0);

        opacity: 0.85;
        background: $white;
        color: $orange;

        text-decoration: none;

        &:hover {
            background-color: $orange;
            color: $white;
            opacity: 1;
        }
    }
}
