/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.navigation-main {
    position: fixed;
    right: 55px;
    bottom: 26px;
    width: 110px;
    padding: 18px;

    opacity: $opaque;
    font-size: $smaller_font_size;

    will-change: opacity;
    transition: $default_transition;

    &:hover {
        opacity: $opaque;
        will-change: opacity;
        transition: $default_transition;
    }

    &__action-button {
        font-family: $base_font_lt;
        text-align: left;
        width: 180px;
        padding-left: 20px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}

.navigation-context {
    color: $light_foreground_1;
    background: $accent_5;
    font-size: $default_font_size;

    text-align: right;

    padding: 5px 30px 5px 18px;

    position: fixed;
    right: -20px;
    bottom: 5px;

    opacity: $opaque;
    border-radius: 25px;

    &__context-name { color: #FFFFFF; font-family: $base_font; font-style: normal; font-weight: normal; padding-right: 8px; }
    &__context-label { font-size: $smaller_font_size; font-family: $base_font_lt; }
}
