 /*   __
  *  |::|    Jedi Focus
  *  |::|
  * _|//|_  Do. Or do not.
  * |____|  There is no try.
  *  || |
  *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
  *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
  *  || |
  *  || |   MIT Licensed — See LICENSE.md
  *  || |
  *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
  *  ||||
  */

.action-button {
    display: inline-block;
    position: relative;
    border-radius: 30px;

    width: 120px;
    height: 32px;
    background-color: #d3541a;
    color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-align: center;
    text-decoration: none;

    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 32px;
    letter-spacing: 1px;

    transition: all 0.25s ease-in-out;
}

.action-button:hover {
    background: #ffffff;
    color: #d3541a;
    box-shadow: none;
    transition: all 0.25s ease-in-out;
}

.column__action-button {
    margin: 0.2em;
    display: inline-block;
    padding: 0 0.3em 0 0.3em;
}

.modal-edit__action-button {
    width: 150px;
    margin-right: 10px;
}

.modal-edit__action-button--cancel {
    background: transparent;
    color: #555555;
    text-decoration: none;
    box-shadow: none;
}
