/*
 * ▬▬ι═══════ﺤJediFocus-═══════ι▬▬
 *   use the source to get things done
 *
 * This project is a part of the “Byte-Sized JavaScript” videocasts.
 *
 * You can watch “Byte-Sized JavaScript” at: https://bit.ly/bytesized
 *
 * MIT Licensed — See LICENSE.md
 *
 * Send your comments, suggestions, and feedback to me@volkan.io                                                     l
 */

.action-button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #37474f;
      color: #ffffff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      letter-spacing: 1px;
}

.action-button:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.column__action-button {
    width: 150px;
    margin: 1em auto;
    padding: 1em;
    display: block;
}
