 /*   __
  *  |::|    Jedi Focus
  *  |::|
  * _|//|_  Do. Or do not.
  * |____|  There is no try.
  *  || |
  *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
  *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
  *  || |
  *  || |   MIT Licensed — See LICENSE.md
  *  || |
  *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
  *  ||||
  */

.action-button {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d3541a;
    color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: "Riga", Helvetica, Arial, sans-serif;
    border-radius: 30px;
}

.action-button:hover {
    background: #ffffff;
    color: #d3541a;
    box-shadow: none;
}

.column__action-button {
    width: 150px;
    margin: 0.5em;
    padding: 0.5em;
    display: inline-block;
}
