/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.card {
    position: relative;

    padding: 16px;
    margin: 16px;
    min-height: 50px;

    background: #ffffff;
    opacity: 0.65;
    border: 1px #757575 solid;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.55);

    cursor: pointer;

    line-height: 1.5em;

    transition: all 0.25s ease-in-out;

    will-change: opacity;
}

.card:hover {
    background: #ffffff;
    opacity: 0.99;
    transition: all 0.25s ease-in-out;

    will-change:opacity;
}

.card__edit-action {
    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #b14c1b;

    cursor: pointer;

    position: absolute;
    top: 5px;
    right: 0;
    padding: 12px;

    transition: all 0.25s ease-in-out;
}
.card:hover .card__edit-action, .card__edit-action:hover {
    color: #1005C9;
    transition: all 0.25s ease-in-out;
}

.card__text {
    margin-right: 32px;
    display: block;
}

.card__text p {
    margin-bottom: 16px;
}

.card__text a {
     color: #1005C9;
}

.card__text pre {
    font-family: "Input Mono Cond", "Menlo", "Monaco", "Courier New", "Courier", monospace;
    font-size: 14px;
    margin-bottom: 16px;
    background: #dfdfcf;
    padding: 7px;
}

.card__text ul {
    margin-bottom: 16px;
}

.card__text h1 {
    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-size: 16px; font-weight: bold; text-align: left;margin: 0;
    padding: 0; margin-bottom: 16px;
}

.card__text h2 {
    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-size: 16px; font-weight: bold; text-align: left;margin: 0;
    padding: 0; margin-bottom: 16px;
}

.card__text h3 {
    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-size: 16px; font-weight: bold; text-align: left;
    margin: 0; padding: 0; margin-bottom: 16px;
}

.card__text h4 {
    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-size: 16px; font-weight: bold; text-align: left;margin: 0;
    padding: 0; margin-bottom: 16px;
}

.card__text h5 {
    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-size: 16px; font-weight: bold; text-align: left;
    margin: 0; padding: 0; margin-bottom: 16px;
}

.card__text h6 {
    font-family: "Riga", Helvetica, Arial, sans-serif;
    font-size: 16px; font-weight: bold; text-align: left;
    margin: 0; padding: 0; margin-bottom: 16px;
}

.card__text code {
    font-family: "Input Mono Cond", "Menlo", "Monaco", "Courier New", "Courier", monospace;
    font-size: 14px;
    padding: 3px;
    background: #dfdfcf;
}

.card__text strong, .cart__text b {
    font-family: "Riga", Helvetica, Arial, sans-serif;
}

.card__text ul li {
    list-style: disc;
    margin-left: 16px;
}
