/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.container {
    display: flex;
    min-height: 100vh;
    max-width: 1690px;
    margin: 0 auto;
}

.column {
    flex-basis: 25%;
    opacity: 0.65;
    transition: all 0.25s ease-in-out;

    will-change: opacity;
}

.column:hover {
    opacity: 0.85;
    transition: all 0.25s ease-in-out;

    will-change: opacity;
}

.column__best-intentions {
    background: #2C3742;
}


.column__to-do {
    background: #4C423D;
}

.column__in-progress {
    background: #394F5E;
}

.column__done {
    background: #2B564E;
}

.heading__best-intentions {
    color: #ffffff;
    background: #35495d;
    min-width: 200px;
    opacity: 0.35;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
}

.column:hover .heading__best-intentions {
    opacity: 0.99;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
}

.heading__to-do {
    color: #ffffff;
    background: #d3541a;
    min-width: 200px;
    opacity: 0.35;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
}

.column:hover .heading__to-do {
    opacity: 0.99;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
}

.heading__in-progress {
    color: #ffffff;
    background: #3081b7;
    min-width: 200px;
    opacity: 0.35;
    transition: all 0.25s ease-in-out;
}

.column:hover .heading__in-progress {
    opacity: 0.99;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
}

.heading__done {
    color: #ffffff;
    background: #239f86;
    min-width: 200px;
    opacity: 0.35;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
}

.column:hover .heading__done {
    opacity: 0.99;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
}

