/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.container__loading {
    position: fixed;
    top: 0;
    left: 0;

    padding: 13px 30px 13px 30px;
    margin: 0;

    font-size: 24px;
    text-align: center;
    color: #ffffff;
    background: #b14c1b;

    width: 100%;

    opacity: 0.9;

    z-index: 9999;
}
