/*
 * ▬▬ι═══════ﺤJediFocus-═══════ι▬▬
 *   use the source to get things done
 *
 * This project is a part of the “Byte-Sized JavaScript” videocasts.
 *
 * You can watch “Byte-Sized JavaScript” at: https://bit.ly/bytesized
 *
 * MIT Licensed — See LICENSE.md
 *
 * Send your comments, suggestions, and feedback to me@volkan.io                                                     l
 */

body {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #bdbdbd;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 1em;
}
