/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.modal-edit {
    position: fixed;
    width: 900px;
    background: #bdbdbd;
    z-index: 9999;
    padding: 10px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%) translateY(25vh);
    -o-transform: translateX(-50%) translateY(25vh);
    -ms-transform: translateX(-50%) translateY(25vh);
    -moz-transform: translateX(-50%) translateY(25vh);
    transform: translateX(-50%) translateY(25vh);
    left: 0;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.35);
    -webkit-opacity: 0.95;
    -moz-opacity: 0.95;
    -o-opacity: 0.95;
    -ms-opacity: 0.95;
    opacity: 0.99;
}

.modal-edit__heading {
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 1em;
    background: #37474f;
    margin-top: -0.5em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    color: #ffffff;
    text-align: left;
    padding-right: 1.5em;
    opacity: 0.99;
    cursor: move;
}

.modal-edit__label {
    font-size: 1.2em;
    margin: 1em;
    margin-left: 0.5em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    font-family: "Riga", Helvetica, Arial, sans-serif;
}

.modal-edit__description {
    width: 860px;
    height: 200px;
    font-size: 1em;
    margin: 0.5em;
    font-family: "Input Mono Cond", "Menlo", "Monaco", "Courier New", "Courier", mono;
    padding: 0.5em;
    background: #ffffff;
    font-size: 0.85em;
    line-height: 1.5em;
}

.modal-edit__column {
    font-size: inherit;
    margin: 20px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 880px;
    margin-left: 0.5em;
    margin-top: 0.6em;
    font-size: 0.85em;
}

.modal-edit__actions {
    text-align: right;
    padding-right: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}
