/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

.modal-edit {
    width: 625px;

    z-index: 9999;
    position: fixed;

    top:50%;
    left:50%;
    height:300px;
    width:624px;
    margin:-150px -312px;

    padding: 10px;

    background: #bdbdbd;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.35);
    border-radius: 2px;
    opacity: 0.95;

    will-change: top, left;
}

.modal-edit__heading {
    margin: -10px -10px 20px -10px;
    padding: 13px;
    letter-spacing: 2px;

    font-size: 20px;
    text-align: left;
    color: #fff;

    cursor: move;

    background: #2c3e50;
    background: linear-gradient(to bottom, #060D13, #2c3e50);
    border-radius: 2px 2px 0 0;
    opacity: 0.8;
}

.modal-edit__label {
    margin: 1px 10px 10px 0;

    font-size: 18px;
    font-weight: bold;
}

.modal-edit__label--centered {
    text-align: center;
}

.modal-edit__label--top-pushed {
    text-align: center;
    margin-top: 72px;
}

.modal-edit__label--floated {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

.modal-edit__label--floated-first {
    margin-left: 4px
}

.modal-edit__description {
    background: #ffffff;

    font-family: "Operator Mono", "Menlo", "Monaco", "Courier New", "Courier", monospace;
    font-size: 16px;

    line-height: 22px;
    width: 607px;
    height: 187px;

    margin: -10px 10px 10px 0;
    padding: 7px;
}

.modal-edit__selection {
    padding: 5px 10px;
    margin: -2px 0 0 -5px;

    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;

    float: left;

    width: 150px;
}

.modal-edit__selection--margin-adjust {
    margin: -2px 3px 0 -5px;
}

.modal-edit__selection--inline {
    float: none;
}

.modal-edit__selection--larger {
    width: 280px;
}

.modal-edit__actions {
    text-align: right;

    float: right;

    margin: -5px 3px 10px 0;
}

.modal-edit__actions--inline {
    float: none;
}

.modal-edit__actions--centered {
    text-align: center;
}

.modal-edit__actions--push-top {
    margin-top: 75px;
}

.modal-edit__body {
    margin: 10px 15px 10px 10px;
    text-align: center;
}
