.modal-edit {
    position: fixed;
    width: 900px;
    background: #bdbdbd;
    z-index: 9999;
    padding: 10px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%) translateY(95px);
    -o-transform: translateX(-50%) translateY(95px);
    -ms-transform: translateX(-50%) translateY(95px);
    -moz-transform: translateX(-50%) translateY(95px);
    transform: translateX(-50%) translateY(95px);
    left: 0;
    box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.35);
}

.modal-edit__action-button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #4285f4;
      color: #ffffff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      letter-spacing: 1px;
}

.modal-edit__action-button:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.modal-edit__heading {
    font-size: 1.2em;
    margin-bottom: 1em;
    padding: 1em;
    background: #37474f;
    margin-top: -0.5em;
    margin-right: -0.5em;
    margin-left: -0.5em;
    color: #ffffff;
    text-align: right;
    padding-right: 1.5em;
}

.modal-edit__label {
    font-size: 1.2em;
    margin: 1em;
    margin-left: 0.5em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

.modal-edit__description {
    width: 860px;
    height: 200px;
    font-size: 1em;
    margin: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em;
    background: #ffffff;
}

.modal-edit__column {
    font-size: inherit;
    margin: 20px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 880px;
    margin-left: 0.5em;
    margin-top: 0.6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-edit__actions {
    text-align: right;
    padding-right: 0.5em;
}
