 /*   __
  *  |::|    Jedi Focus
  *  |::|
  * _|//|_  Do. Or do not.
  * |____|  There is no try.
  *  || |
  *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
  *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
  *  || |
  *  || |   MIT Licensed — See LICENSE.md
  *  || |
  *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
  *  ||||
  */

.action-button {
    display: inline-block;
    position: relative;
    top: -1px;
    border-radius: 30px;

    width: 120px;
    height: 32px;
    background-color: $accent_1;
    box-shadow: $box_shadow;

    color: $light_foreground_1;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: $default_font_size;
    line-height: 32px;
    letter-spacing: 1px;

    transition: all 0.25s ease-in-out;

    &:hover {
        background: $light_foreground_1;
        color: $accent_1;
        box-shadow: none;
        transition: all 0.25s ease-in-out;
    }
}

.column__action-button {
    display: inline-block;
    margin: $margin_action_button;
    padding: 0 6px 0 6px;
}
