/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@import '../../../../variables/index.scss';

.context-selection {
    color: $orange;
    background: $white;

    cursor: pointer;

    // text-align: right;

    padding: 5px 20px 5px 17px;

    position: fixed;
    right: -15px;
    bottom: 20px;

    width: 32px;

    opacity: 0.85;
    border-radius: 25px;

    transition: $defaultTransition;

    background: $trueWhite;

    box-shadow: $cardBoxShadow;
    border: 1px solid $actionButtonBorderColor;

    &:hover {
        border: 1px solid transparent;
        background: $orange;
        color: $trueWhite;
        opacity: 1;
        box-shadow: none;
    }

    &__context-name { padding-right: 8px; line-height: 32px; }
}
