/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.context-selection {
    color: $white;
    background: $orange;

    cursor: pointer;

    text-align: right;

    padding: 5px 20px 5px 17px;

    position: fixed;
    right: -20px;
    bottom: 35px;

    opacity: 0.85;
    border-radius: 25px;

    transition: $defaultTransition;
    will-change: background, color, opacity, box-shadow;

    &:hover {
        background: $white;
        color: $orange;
        opacity: 1;
        box-shadow: none;
        transition: $defaultTransition;
        will-change: background, color, opacity, box-shadow;
    }

    &__context-name { padding-right: 8px; line-height: 32px; }
}
