/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.column {
    overflow: auto;

    &__best-intentions {
        .column__body {
          background: #DFE1E3;
          background: linear-gradient(to bottom, darken(#E8E9E6, 2%), darken(#DFE1E3, 2%));


            border-left: 1px solid lighten(#bbbbb9, 10%);
            //border-right: 1px dashed #bbbbb9;

            min-height: calc(100vh - 50px);
        }
    }

    &__to-do {
        .column__body {
          background: #DFE1E3;
          background: linear-gradient(to bottom, darken(#E8E9E6, 0%), darken(#DFE1E3, 0%));

            // border-right: 1px dashed #bbbbb9;
            min-height: calc(100vh - 50px);
        }
    }

    &__in-progress {
        .column__body {
          background: #DFE1E3;
          background: linear-gradient(to bottom, darken(#E8E9E6, 2%), darken(#DFE1E3, 2%));
            min-height: calc(100vh - 50px);

          border-right: 1px solid lighten(#bbbbb9, 10%);
        }
    }
}

@import "./body/index.scss";
@import "./heading/index.scss";
