/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@import '../../../../variables/index.scss';
@import '../../../../mixins/index.scss';

.modal-edit {
    &__heading {
        @include modalHeadingBackground;

        margin: -10px -10px 20px -10px;
        border-radius: 2px 2px 0 0;

        border-top: 4px #0083ef solid;

        height: 8px;
        line-height: 8px;

        color: $black;
        font-size: 16px;
        // text-align: left; // center;
        text-align: left;
        letter-spacing: 0;


        box-shadow: $modalHeadingBoxShadow;
        cursor: move;

        label {cursor: move;}
    }
}
