/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@import '../variables/index.scss';
@import '../mixins/index.scss';

.topHeaderBackground {
    @include topHeaderBackground;

    border-top: 6px darken(adjust_hue($orange, -180deg), 0%) solid;

    font-size: $actionButtonFontSize;
    font-family: $headingFont;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 42px;
    line-height: 42px;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: $headerBoxShadow;
}

.loginBackground {
    position: fixed;
    top: 42px;
    left: 0;
    width: 100vw;
    height: auto;
    opacity: 0.35;
    z-index: -2;
}

