/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.column__heading {
    min-width: 200px;
    height: 25px;
    opacity: 1;
    will-change: opacity;
    color: $black;
    cursor: default;

    // &--best-intentions { background: darken($blue, 20%); }
    // &--best-intentions-selected { background: darken($blue, 20%); }
    // &--to-do { background: darken($blue, 10%); }
    // &--to-do-selected { background: darken($blue, 10%); }
    // &--in-progress { background: $blue; }
    // &--in-progress-selected { background: $blue; }
    // &--done { background: $teal; }
    // &--done-selected { background: $teal; }

    &--dimmed {
        color: $black;
        height: 25px;
        opacity: 0.15;
    }

    &--selected {
        color: $black;
        height: 25px;
        opacity: 1;
        box-shadow: $defaultBoxShadow;
    }
}

.no-pointer {
  .column__heading {
    transition: $defaultTransition;
    opacity: 0.15;
  }
}
