<!doctype html>
<html>
<%
/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */
 %>
<head>
    <title>Jedi Focus</title>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Jedi Focus: Do. Or do not. There is no try.">
    <meta name="keywords" content="gtd, motivation, goals, tasks, focus, to-do list, lists, cards, project management">

    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">

    <link rel="icon" href="/images/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/images/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/images/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/images/favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="/images/favicon-192.png" sizes="192x192" type="image/png">

    <link href="//cloud.webtype.com/css/cd6f9c84-6c4b-4fc9-9ac1-f6a6dd9f5424.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="react-root"></div>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
</body>
</html>
