<!doctype html>
<html>
<!--
   ▬▬ι═══════ﺤJediFocus-═══════ι▬▬
     use the source to get things done

   This project is a part of the “Byte-Sized JavaScript” videocasts.

   You can watch “Byte-Sized JavaScript” at: https://bit.ly/bytesized

   MIT Licensed — See LICENSE.md

   Send your comments, suggestions, and feedback to me@volkan.io                                                     l
-->
<head>
    <title>Jedi Focus</title>
    <link href="//cloud.webtype.com/css/c2d023fc-ce34-4d9d-a40b-52afd9e17fe8.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="react-root"></div>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
</body>
</html>
