/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

body {
    background: $dark_5;
    background-attachment: fixed;
    background-image: url("/images/bg.gif");
    font-size: $default_font_size;
}

h2 {
    margin-bottom: 24px;
    padding: 12px;
    transition: $default_transition;
}

ul {
    margin-bottom: 16px;

    li {
        list-style: disc;
        margin-left: 16px;
    }
}

a {
    color: $link_foreground;
}
