@mixin block_quote {
    border-left: 6px $light_background_4 solid;
    background: $light_background_3;
    color: $dark_1;
    font-style: italic;
}

@mixin pre_formatted {
    font-family: $monotype_fallback_font;
    font-size: 16px;
    background: $light_background_5;
    color: $dark_1;
}

@mixin heading {
    margin: $margin_none;
    padding: 0;

    font-size: $default_font_size;
    font-weight: bold;
    text-align: left;

    margin-bottom: 16px;
}

@mixin card_common {
    margin: $margin_card_common;
    padding: 16px;

    cursor: pointer;
    position: relative;
    line-height: 1.5em;

    min-height: 50px;
    min-width: 280px;

    background: $light_background_1;
    border: $dark_border;
    box-shadow: $box_shadow;
}

@mixin column_heading_common {
    color: $light_foreground_1;
    min-width: 200px;
    opacity: 0.35;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
    letter-spacing: 2px;
    height: 25px;
}

@mixin column_opaque {
    opacity: $opaque;
    will-change: opacity;
    transition: $default_transition;
}

@mixin column_semi_opaque {
    opacity: $semi_opaque;
    will-change: opacity;
    transition: $default_transition;
}

@mixin column_transparent {
    opacity: $transparent;
    will-change: opacity;
    transition: $default_transition;
}
