@mixin block_quote {
    border-left: 6px $light_background_4 solid;
    background: $light_background_3;
    color: $dark1;
    font-style: italic;
}

@mixin pre_formatted {
    font-family: $monotype_fallback_font;
    font-size: 16px;
    background: $light_background_5;
    color: $dark1;
}

@mixin heading {
    font-size: $default_font_size;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

@mixin card_common {
    cursor: pointer;
    position: relative;
    line-height: 1.5em;
    padding: 16px;
    margin: 16px;
    min-height: 50px;
    background: $light_background_1;
    border: $dark_border;
    box-shadow: $box_shadow;
}

@mixin column_heading_common {
    color: $light_foreground_1;
    min-width: 200px;
    opacity: 0.35;
    will-change: opacity;
    transition: all 0.25s ease-in-out;
    letter-spacing: 2px;
}

@mixin column_opaque {
    opacity: $opaque;
    will-change: opacity;
    transition: $default_transition;
}

@mixin column_semi_opaque {
    opacity: $semi_opaque;
    will-change: opacity;
    transition: $default_transition;
}

@mixin column_transparent {
    opacity: $transparent;
    will-change: opacity;
    transition: $default_transition;
}
