/*   __
 *  |::|    Jedi Focus
 *  |::|
 * _|//|_  Do. Or do not.
 * |____|  There is no try.
 *  || |
 *  | ||   This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  | ||   You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *  || |
 *  || |   MIT Licensed — See LICENSE.md
 *  || |
 *  | ||   Send your comments, suggestions, and feedback to me@volkan.io
 *  ||||
 */

body {
    line-height: 24px;
    font-family: $base_fallback_font;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body.wf-loaded {
    font-family: $base_font;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}

p {
    margin-bottom: $margin_regular;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

blockquote {
    @include block_quote;

    margin-bottom: $margin_regular;
    padding: 0 10px 0 6px;

    p {
        margin: $margin_none;
        padding: 5px 10px 5px 10px;
    }

    blockquote {
        margin-bottom: $margin_none;
    }
}

pre {
    @include pre_formatted;

    margin-bottom: $margin_regular;
    padding: 7px;
}

body.wf-loaded pre {
    font-family: $monotype_font;
}

code {
    @include pre_formatted;
    padding: 3px;
}

body.wf-loaded code {
    font-family: $monotype_font;
}
