/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

// Theme color palette:
$black: #272830;
$white: #F6F6F6;
$dimmedWhite: #EBEBEB;
$trueWhite: #FFFFFF;
$lightGray: #E0E0E0;
$orange: #EF6C00;
$blue: #039BE5;
$blueGray: #78909C;
$teal: #009688;
$quoteBackground: #E9E9E9;
$quoteBorderColor: #D3D3D3;
$quoteColor: #233200;
$codeBackground: #FFF7D4;
$codeBorderColor: #FEE46E; 
$codeColor: #281E2A;
$modalEditBackground: #D6D8DA;
$disableButtonBackground: #CCCCCC;
$disabledButtonColor: #999999;
$linkColor: #2455C3;
$cardBackgroundColor: #F2F2F2;
$cardBorderColor: #CFD1CB;
$actionButtonBorderColor: #E6E6E6;

// Important borders:
$codeBorderWidth: 6px;
$quoteBorderWidth: 6px;
$cardSideMarkerBorderWidth: 6px;
$cardLinkBorderWidth: 2px;
$cardLinkHoverBorderWidth: 2px;

// Fonts:
$baseFont: Palatino, "Palatino Linotype", "Book Antiqua", serif;
$headingFont: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
$monotypeFont: Monaco, Courier, monospace;

// Font sizes:
$largerFontSize: 24px;
$largeFontSize: 22px;
$actionButtonFontSize: 20px;
$buttonFontSize: 18px;
$defaultFontSize: 18px;
$smallerFontSize: 16px;
$smallestFontSize: 14px;

// Important Dimensions:
$buttonHeight: 32px;
$buttonBorderRadius: 30px;
$minCardWidth: 280px;

// All boxes have this shadow:
$defaultBoxShadow: none;

// Transitions:
$defaultTransition: all 0.25s ease-in-out;
$cardTransition:  background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
$modalFadeTransition: opacity 0.45s ease-in-out;
$loadingTransition: top 0.45s ease-in-out;

$headerBoxShadow: 0 3px 3px -3px rgba(0, 0, 0, .6);
$cardBoxShadow: 0 1px 4px rgba(0,0,0,.04);
$modalHeadingBoxShadow: 0 0 2px rgba(0, 0, 0, .16);
$modalEditBoxShadow: 0 0 2px rgba(0, 0, 0, .16), 0 2px 4px rgba(0, 0, 0, .32);
$cardFocusedBoxShadow: 0 0 2px 1px $blue;

// To make sass-lint happy:
$blank: '';
$none: none;
