/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.loading {
    margin: 0;
    padding: 19px 32px 14px 32px;
    width: 100%;

    position: fixed;
    right: -8px;
    top: -8px;

    z-index: 9999;

    border-radius: 2px;

    color: $white;
    background: $orange;
    opacity: 0.85;

    font-size: $largerFontSize;
    font-family: $baseFontLightItalic;

    font-weight: normal;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
}
