/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

@import '../../../variables/index.scss';

.loading {
    @include loadingBackground;

    margin: 0;

    height: 42px;
    line-height: 42px;

    width: 100vw;
    position: fixed;
    left: 0;
    top: 6px;

    z-index: 9999;

    color: $black;

    transition: $loadingTransition;
    will-change: top;

    &--hidden {
        top: -80px;
        transition: $loadingTransition; 
        will-change: top;
    }
}
