/*  __.-._
 *  '-._"7'  JediFocus
 *   /'.-c
 *   |  /T   Do. Or do not.
 *  _)_/LI   There is no try.
 *
 *  This project is a part of the “Byte-Sized JavaScript” videocasts.
 *  You can watch “Byte-Sized JavaScript” at: https://bytesized.tv/
 *
 *  MIT Licensed — See LICENSE.md
 *
 *  Send your comments, suggestions, and feedback to me@volkan.io
 */

.loading {
    margin: 0;
    padding: 26px 32px 16px 32px;

    width: 50vw;
    position: fixed;
    right: calc(25vw - 32px);
    top: -10px;

    z-index: 9999;

    border-radius: 2px;

    color: $black;
    background: linear-gradient(to bottom, $trueWhite 50%, darken($trueWhite, 30%) 100%);
    box-shadow: $defaultBoxShadow;
    opacity: 0.85;
    transition: opacity 0.65s ease-in-out, top 0.45s ease-in-out;
    will-change: top, opacity;

    &--hidden {
        top: -80px;
        opacity: 0;
        transition: opacity 0.65s ease-in-out, top 0.45s ease-in-out;
        will-change: top, opacity;
    }
}
